*.o
.*.swp
.d
base64string-test
base64string-test.out
hexstring-test
hexstring-test.out
rawbytes-test
rawbytes-test.out
weather_data.pb.cc
weather_data.pb.h
weather_data_pb2.py
weather_edge_server
weather_raw_store
weather_sql_store
weather_station
